body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #878e9b;
  color: #000000;
  user-select: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-bar {
  display: flex;
  background-color: white;
}

.profile {
  display: flex;
  flex: 2;
  background-color: rgb(255, 254, 253);
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 20px;
}

.settings {
  margin-right: 40px;
}

.h-8 {
  max-width: 100%;
  max-height: auto;
}

.settings-svg {
  width: 50px;
  height: 50px;
}

.tools {
  grid-column: 1 / -10;
}

.nav-items {
  display: flex;
  flex: 4;
  margin-top: auto;
  margin-left: 100px;
  margin-bottom: 20px;
}

.home {
  font-size: 20px;
  margin-left: 50px;
}
.home:hover {
  color: rgb(239, 86, 31);
}

.portals {
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
}

.portals:hover {
  color: rgb(239, 86, 31);
}

.market {
  margin-right: 50px;
  font-size: 20px;
}

.market:hover {
  color: rgb(239, 86, 31);
}
.custom-btn {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  color: rgb(72, 98, 98);
}

.custom-btn:hover {
  background-color: chocolate;
}

.log-out-btn {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: #878e9b;
}

.log-out-btn:hover {
  background-color: rgb(239, 86, 31);
}

input {
  width: 200px;
  height: 30px;
  background-color: #e4e6ea;
  border-radius: 10px;
}

.links {
  display: flex;
  padding: 10px;
  margin: 20px;
}
.content {
  display: flex;
  flex: 1;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  padding: 20px;
}

.brd {
  width: 1100px;
  height: 400px;
}

.execution-bar {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 28px;
  width: 1200px;
  margin-top: 0px;
  margin-left: 210px;
  border-radius: 15px;
  padding: 15px;
}

.share {
  flex: 2;
  text-align: right;
  color: #878e9b;
}

.share-btn {
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgb(220, 100, 100);
}
.share-btn{
  background-color: chocolate;
}

.svg {
  margin-left: 800px;
  margin-right: 20px;
  padding-top: 3.8px;
}

.icon {
  margin-right: 20px;
}

